# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# IDE/editor configs
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log